/* #. */
body{
  background-color: #2E2D4D ;
}
/* NAV */
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2E2D4D;
}
.ul-list{
  display: flex;
  flex-direction: row;

}
.li-container{
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
.li-list{
 width: auto;
list-style: none;
}
.link{
  color: #AA30B0;
}
.title{
  color: #AA30B0;
}

/* Home Page */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
